Research Agent v1.json
{
  "name": "Research Agent v1",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -48,
        -16
      ],
      "id": "56c77fd0-83cd-494f-8b3e-bddd78b3a6d4",
      "name": "When chat message received",
      "webhookId": "66b3a844-58a2-43ec-9cd1-3f0033ea64f3"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "{\n  \"answer\": \"...\",\n  \"source\": \"knowledge_base or web_search\",\n  \"confidence\": \"high, medium, or low\"\n}\n",
          "returnIntermediateSteps": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        -16
      ],
      "id": "83602a13-fa97-4d44-a1c4-84ac616fedb2",
      "name": "AI Agent",
      "notes": "You are a research assistant with two tools: a knowledge base and web search.\nFirst check the knowledge base for relevant information (company policies, internal notes, FAQs).\nIf the knowledge base doesn't have enough detail, use web search to find current information.\nAlways mention which source(s) you used to answer. If neither has enough information, say so honestly."
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        192
      ],
      "id": "40bbb4df-f598-4e4e-941f-efd386f5f4e5",
      "name": "Google Gemini Chat Model",
      "notesInFlow": true,
      "credentials": {
        "googlePalmApi": {
          "id": "wHNhZYlJgu7581Fg",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      },
      "notes": "You are a research assistant. When given a topic, provide a clear, well-organized answer. If you don't have enough information, say so honestly rather than guessing."
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Searches the web for current information. Use this when you need up-to-date facts.",
        "query": "={{ $fromAI('query', 'the search query to look up') }}",
        "options": {}
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        400,
        208
      ],
      "id": "228a4aca-c7e6-4cc5-a3c8-0776121eb29e",
      "name": "Search in Tavily",
      "credentials": {
        "tavilyApi": {
          "id": "QssKDqI1PTYGvdro",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Searches the internal knowledge base for company-specific info like return policy, working hours, and warranty. Use this first before web search.",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1l_ebPj6_KdCOCnHiBlIyPHV4wGjQmb3HqYHIt2JNu40/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1l_ebPj6_KdCOCnHiBlIyPHV4wGjQmb3HqYHIt2JNu40/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Topic",
              "lookupValue": "={{ $fromAI('search_term', 'the topic to look up') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        544,
        176
      ],
      "id": "ce6fecb8-7f3f-4f76-9f46-2888dff0643f",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hIPtesh7BfFpZX0W",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        224,
        192
      ],
      "id": "3ebdc409-df59-4e88-8ab8-1ca10a6d0a2c",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "sendTo": "dehiwalagetharuka@gmail.com",
        "subject": "Research Agent Report",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        -16
      ],
      "id": "1c4278ac-41ee-4fb0-8237-b399ed0012d6",
      "name": "Send a message",
      "webhookId": "7acfc14d-4fb5-46b6-acb6-b7966cf93cee",
      "credentials": {
        "gmailOAuth2": {
          "id": "hvoSYGaQe1HfNU3r",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Search in Tavily": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "345d7682-177f-419c-b409-8c8c02739ca9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0211bf17e82b7dfe13a8a70da6c08743710a9603c05f46feb6092d70774ce44e"
  },
  "nodeGroups": [],
  "id": "f6yCZQdNND6kdQbA",
  "tags": []
}